/* utilities */
.l-text{
    font-size: 40px;
}
.m-text{
    font-size: 30px;
}
.prim-text{
    color: rgb(223, 226, 13);
    font-size: 45px;
}
.padding-tb{
    padding: 10px 0px;
}
.padding-rl{
    padding: 0 10px;
}
.padding-center{
    padding: auto;
}
.margin-tb{
    margin: 10px 0;

}
.margin-rl{
    margin: 0 10px;
    
}
.margin-center{
    margin:auto;
}
.text-center{
    text-align: center;
}

/* about section */
#about{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 500px;
    background: whitesmoke;
}
.main-container{
    padding: 20px;
    max-height: 100%;
     overflow: auto;    
   
}
.main-container .info-left{
    float: left;
    min-height: 100%;
    width: 70%;

}
.main-container .info-right{
    float: right;
    width: 30%;
    height: 100%; 
    display: block;
    padding: 60px 10px 10px 10px;
}
.main-container .info-right img{
    max-height: 100%;
    width:100% ;
    border-radius: 50%;   
}
/* testinomials */
#testinomials{
    height: 800px;
    background: url("../img/wall2.jpg") no-repeat;
    background-size: cover;
    padding: 20px;
}
#testinomials .main-container h1{
    text-align: center;
    color:rgb(18, 122, 53);
    padding-top: 0px;
    opacity: 0.7;
}
.testinomial{
    background: rgb(218, 119, 48);
    border-radius: 15px;
    color:rgb(197, 209, 201);
    height: 100px;
    margin:20px 50px 100px 50px;
    padding: 10px;
    opacity: 0.9;
}
.testinomial:hover{
    opacity: 1;
}
.testinomial img{
    width: 100px;
    float: left;
    padding-right: 10px;
    border-radius: 50%;
    max-height:100%;
}
.testinomial p{
    margin-bottom: 0px;
}

/* footer */
#footer-about{
    max-height: 50px;
    background: black;
    color: white;
    text-align: center;
}
#footer-about h6{
    padding:10px ;
    font-size: 1.2;
}