
/*  form containing contact form and location*/
#forms{
    height: 700px;
    background: url("../img/contact3.jpg") no-repeat;
    background-size:cover ;
}

/* contact form */
.forms-data{
    width: 100%;
    max-height: 100%;
   
}
.main-container .forms-group{
    margin: 0px 400px;
}
.forms-group label{
    margin: 10px;
    display: block;
    color: rgb(4, 43, 16);
    font-size: 17px;
}
.forms-group input,.forms-group textarea{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 28px;
    border-radius: 5px;
    background: wheat;
}
.forms-group input:focus,.forms-group textarea:focus{
    border-color: rgb(192, 34, 6);
    background-color:rgb(197, 171, 123);
}
.forms-group textarea{
    height: 100px;
}
.forms-data input[type="submit"]{
    border: none;
    background: rgb(47, 211, 47);
    padding: 8px;
    cursor: pointer;
    color:  rgb(1, 4, 17);
    text-align: center;
}
.forms-data input[type="submit"]:hover{  
    background: rgb(32, 133, 32);
}
/* location */
#location{
    height: 300px;  
}
.location-info{
    float: left;
    width: 25%;
    height: 100%;
    background: seashell;

}
.location-content{
    margin-left: 10px;
}
.location-content i{
    margin-right: 40px;
}
.location-map{
    float: right;
    width: 75%;
    height: 100%;
    background:url("../img/map1.png") no-repeat;
    opacity: 0.7;
    background-size: cover;
}
.location-map:hover{
   opacity: 1;
}

