/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* core styling */
html,body{
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p{
    margin: 10px;
}
h1,h2,h3{
    padding: 15px;
}
a{
    color: rgb(175, 216, 104);
    text-decoration: none;
}
span{
    color: rgb(223, 226, 13);
}
/* utilities */
.container{
    max-width: 1400px;
    overflow: auto;
    margin: auto;
    padding: 0px 20px 0px 20px;
}
.text-primary{
    color: rgb(223, 226, 13);
}
.paragraph-primary{
    font-size: 1.4;
    margin: 10px 0px 40px 0px;
}
.btn{
    border: none;
    background: rgb(24, 9, 9);
    padding: 15px;
    cursor: pointer;
}
.btn-cover{
    border: none;
    background: rgb(24, 9, 9);
    padding: 8px;
    cursor: pointer;
    margin: 50px;
}
.btn-light{
    border: none;
    background: rgb(223, 226, 13);
    padding: 8px;
    cursor: pointer;
    margin: 50px;
    color:  rgb(1, 4, 17);

}
.btn-light:hover{
    background:rgb(142, 145, 9);
    color:  rgb(1, 4, 17);

}

.btn-cover:hover{
    margin: 50px;
    background: black;
    color:rgb(231, 154, 123) 
}
.btn:hover{
    background: black;
    color:rgb(231, 154, 123) ;
}
.material-icons.md-48 { font-size: 48px; }

/* navigator */
.menu{
    background: rgb(7, 5, 5);
    overflow: auto;
}
.menu h1{
    float: left;
    padding: 15px;
}
.menu ul{
list-style: none;
float: right;
}
.menu li{
    float: left;
}
.menu ul li a{
    display: block;
    padding: 30px;
    text-align: center;
}
.menu ul li a.current{
    color: rgb(231, 154, 123);
}
.menu ul li a:hover{
    text-decoration: underline;
}
.menu ul li a:focus{
    color: rgb(185, 129, 107);
    text-decoration: underline;
}
.logo a{
    color: cornflowerblue;
}
/* cover */
#cover{
    background-image: url("../img/abc.jpg");
    background-size: cover;
    height: 500px;
}
.cover-content{
    padding: 150px 0px 0px 0px;
    color: white;
    text-align: center;
}
.cover-content h1{
    font: bold;
    font-size: 50px;   
}
/* home-info */
#home-info{
    height: 700px;
}
.info-img{
    background: url("../img/building3.jpg") no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    float: left;   
}
.info-content{
    background: black;
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
}
.info-content p{
    font-size: 1.6;
    margin-bottom: 35px;
}
/* services */
#service{
    height: 530px;
    background:whitesmoke;
}
.service-info{
    text-align: center;
    margin: 0 0 30px 0;
}
.service-info h1{
    color: rgb(23, 53, 23);
    font-size: 35px;
}
.service-text{
    color: rgb(77, 233, 16);   
}

.service-icon div{
    float: left;
    width: 25%;
    text-align: center;
    background-position: center;
    background-color:whitesmoke;
}
.service-icon h1{
    margin: 20px;
}
/*  form containing contact form and location*/
#form{
    height: 600px;
    margin: 20px 250px;
}
.form-container{
   margin: 0px 100px;
   padding: 20px;
    overflow: auto;
}
/* image gallery */
#image{
    padding: 30px;
    height: 600px;
    background: rgb(139, 173, 216);
}
#image h1{
    text-align: center;
    color:  rgb(23, 53, 23);
    font-size: 1.8em;
    padding-top: 0;
}

.image-container{
    margin:10px 30px 20px 30px ;
    padding: 10px;
    float: left;
    border-width: 10px;
   border:solid;
     max-width: 20%;
     height: 200px;
}
.image-container img{
    max-width: 100%;
    max-height: 100%;
}
.image-container img:hover{
    opacity: 0.5;
}

.clr{
    clear: both;
}
#footer{
    height: 50px;
    background: black;
    color: white;
    text-align: center;
}
#footer h6{
    padding:20px ;
    font-size: 1.2;
}



